*.iml
*.ipr
*.iws
*.prefs
*/src/generated/
*~
.classpath
.gradle/
.idea/
.metadata
.project
.settings
.sonar/
.springBeans
Servers
atlassian-ide-plugin.xml
bin/
build/
buildSrc/
classes/
contiperf-report/
db-migration/
out
out/
project/
rebel.xml
sonar-project.*
target/
tmp
node_modules
bundle.js
coverage/
dist/